@mixin button($color) {
    font-size:1rem;
    // font-weight: 300;
    padding-block: 14px;
    padding-inline: 9px;
    border-radius: 4px;
    background: $color;
    cursor: pointer;
    border: none;
}

@mixin date($color){
    font-size: 16px;
    color: $color;
}

@mixin heading{
    font-size: 1.3rem;
    font-weight: bold;
}

@mixin blog{
    font-size: 16px;
    line-height: 1.5;
}



